{
  "extends": "./node_modules/@learningfuze/lfz-config/config/stylelintrc.json",
  "rules": {
    "import-notation": "string",
    "at-rule-no-unknown": null,
    "rule-empty-line-before": "always-multi-line"
  }
}