{
  "extends": "./node_modules/@learningfuze/lfz-config/config/stylelintrc.json",
  "rules": {
    "import-notation": "string",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "tailwind",
        "apply",
        "layer",
        "theme",
        "screen",
        "variants",
        "responsive",
        "import",
        "custom-variant"
      ]
    }],
    "rule-empty-line-before": "always-multi-line"
  }
}